.loader-container { height: calc(100vh - 64px); display: none; position: absolute; z-index: 1000; width: 100%;}
.loader-container.active { display: table; }
.loader-container .loader { display: table-cell; height: 100%; width: 100%; vertical-align: middle; text-align: center; z-index: 100; }

.contact-container { padding: 50px 100px 100px 100px; min-height: calc(100vh - 262px); }
.contact-container .contact { background-color: white; min-height: calc(100vh - 460px); padding: 100px 100px; }
.contact-container h1 { margin: 0px 0px 30px 0px; }