<home-nav-app></home-nav-app>
<div class="loader-container" [ngClass]="{'active': loaderStatus }">
    <div class="loader">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
</div>
<div class="products-container">
    <!--<h1>Products</h1>-->
    <div class="products">
        <div class="product">
            <div class="product-img">
                <img src="/assets/img/salanova-1.png"/>
            </div>
            <div class="info-container">
                <div class="info">
                    <h2>Salanova Green</h2>
                    <p>Salanova Green (green butterhead lettuce) is characterized by a crunchy bite and a wonderfully fresh flavour. Deliscious is the only producer to succeed in growing a Salanova with a root ball. Salanova lettuce has big smooth leaves with around three times more leaves than an ordinary head of lettuce. With one cut, Salanova separates into lots of munchable lettuce leaves.</p>
                    <ul class="farm-info">
                        <li><i class="fa fa-home" aria-hidden="true"></i> 3 farms</li>
                        <li><i class="fa fa-users" aria-hidden="true"></i> 1 farmer</li>
                        <li><img src="/assets/img/weight.png"/> 3 kg</li>
                    </ul>
                </div>
            </div>
            <div class="involved-container">
                <h2>Farmers involved</h2>
                <div class="involved">
                    <ul routerLink="/farmer">
                        <li class="farmer-img"><img src="/assets/img/5a637edc979c5321f2d85617.png"></li>
                        <li class="farmer-info">Francisco Roca <br/> <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Madrid, Spain</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="/assets/img/salanova-2.png"/>
            </div>
            <div class="info-container">
                <div class="info">
                    <h2>Salanova Red</h2>
                    <p>Salanova Red (red butterhead) has a distinctive deep red colour and peppery flavour. Like Salanova Green, its leaves are similar in size and can be separated in one cut.</p>
                    <ul class="farm-info">
                        <li><i class="fa fa-home" aria-hidden="true"></i> 3 farms</li>
                        <li><i class="fa fa-users" aria-hidden="true"></i> 1 farmer</li>
                        <li><img src="/assets/img/weight.png"/> 3 kg</li>
                    </ul>
                </div>
            </div>
            <div class="involved-container">
                <h2>Farmers involved</h2>
                <div class="involved">
                    <ul routerLink="/farmer">
                        <li class="farmer-img"><img src="/assets/img/5a637edc979c5321f2d85617.png"></li>
                        <li class="farmer-info">Francisco Roca <br/> <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Madrid, Spain</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="/assets/img/salatrio.png"/>
            </div>
            <div class="info-container">
                <div class="info">
                    <h2>Salatrio</h2>
                    <p>Salatrio is our best known root ball lettuce variety: three different types of lettuce on one root ball. Salatrio contains Lollo Rosso, Lollo Biondo and Oak Leaf lettuce and provides a nice mix of intense colour and strong flavour. Like the Salanova, the Salatrio is super fresh with an extra long shelf life, thanks to its root ball.</p>
                    <ul class="farm-info">
                        <li><i class="fa fa-home" aria-hidden="true"></i> 3 farms</li>
                        <li><i class="fa fa-users" aria-hidden="true"></i> 1 farmer</li>
                        <li><img src="/assets/img/weight.png"/> 3 kg</li>
                    </ul>
                </div>
            </div>
            <div class="involved-container">
                <h2>Farmers involved</h2>
                <div class="involved">
                    <ul routerLink="/farmer">
                        <li class="farmer-img"><img src="/assets/img/5a637edc979c5321f2d85617.png"></li>
                        <li class="farmer-info">Francisco Roca <br/> <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Madrid, Spain</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-app></footer-app>