<socket></socket>
<header></header>
<div class="loader-container" [ngClass]="{'active': loaderStatus }">
    <div class="loader">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
</div>
<div class="farmers-container">
    <div class="farmer-container">
        <div class="farmer" *ngFor="let farmer of farmers">
            <a [routerLink]="['/farmers', farmer._id]">
                <img src="/assets/img/{{farmer.img}}" class="fruit"/>
                <h2>{{ farmer.name }} <span> <img src="/assets/img/seeds.png"/> {{ farmer.created | date: "dd/MM/yy" }}</span></h2>
                <ul>
                    <li>
                        <img src="/assets/img/farmer.png"/> {{ farmer.farm.length }}
                    </li>
                    <li>
                        <img src="/assets/img/weight.png"/> {{ farmer.avgWeight }} kg
                    </li>
                    <li>
                        <img src="/assets/img/harvest.png"/> {{ farmer.harvest }} days
                    </li>
                </ul>
            </a>
        </div>
    </div>
</div>