<socket></socket>
<header></header>
<div class="loader-container" [ngClass]="{'active': loaderStatus }">
    <div class="loader">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
</div>
<div class="farmers-container">
    <h1>Farmers</h1>
    <a [routerLink]="['/farmers', farmer._id]"  *ngFor="let farmer of farmers">
        <div class="farmer-container">
            <div class="farmer"> 
                <img src="/assets/img/{{farmer.img}}" class="fruit"/>
                <h2>{{ farmer.name }}</h2>
                <ul>
                    <li>
                        <i class="fa fa-home" aria-hidden="true"></i> {{ farmer.farm.length }} farms
                    </li>
                    <li>
                        <img src="/assets/img/weight.png"/> 55 kg
                    </li>
                    <li>
                        <i class="fa fa-money" aria-hidden="true"></i> 100 €
                    </li>
                </ul>
            </div>
        </div>
    </a>   
</div>