@media (min-width: 900px) and (max-width: 1440px) {
    
    .farmers-container { padding: 50px 50px; }
    .farmers-container .farmer-container { border: 1px solid #e5ded7; width: 30%; float: left; background-color: white; margin: 0px 30px 0px 0px; cursor: pointer; }
    .farmers-container .farmer-container .farmer {  padding: 25px 30px 0px 20px;  font-family: Georgia, 'Times New Roman', Times, serif;  }
    .farmers-container .farmer-container .farmer .fruit { width: 80px; position: relative; bottom: 12px; float: left; }
    .farmers-container .farmer-container .farmer h2 { float: left; width: 60%; padding: 0px 0px 0px 20px; margin: 0px 0px 10px 0px; font-size: 18px; color: #333;  font-weight: normal; font-family: Georgia, 'Times New Roman', Times, serif; }
    .farmers-container .farmer-container .farmer h2 span { float: right; font-size: 12px; line-height: 24px; }
    .farmers-container .farmer-container .farmer h2 span img {float: left; width: initial; height: auto; margin: 0px 5px 0px 0px; position: relative; top: 3px; }
    .farmers-container .farmer-container .farmer ul { float: left; width: 60%; padding: 0px 0px 0px 20px; margin: 0px 0px; }
    .farmers-container .farmer-container .farmer ul li { float: left; width: 33.3%; font-size: 12px; }
    .farmers-container .farmer-container .farmer ul li img { width: 12px; height: auto; margin: 0px 5px 0px 0px; float: left; }

}
