.footer-container { display: inline-block; width: 100%; }
.footer-container .footer-content { padding: 50px 100px;  height: 240px; }
.footer-container ul { width: 22%; float: left; }
.footer-container .logo { width: 34%}
.footer-container .logo h2 { color: #929265; font-family: 'Josefin Slab', serif; font-weight: bold; font-size: 28px; }
.footer-container .info { margin: 40px 0px 0px 0px; }
.footer-container ul li { margin: 0px 0px 10px 0px; }