<footer class="footer-container">
    <div class="footer-content">
        <ul class="logo">
            <li>
                <h2 routerLink="/">City Farmers</h2>
            </li>
        </ul>
        <ul class="info">
            <li  routerLink="/">home</li>
            <li  routerLink="/farmers">farmers</li>
            <li routerLink="/farms">farms</li>
            <li routerLink="/contact">contact</li>
        </ul>
        <ul class="info">
            <li>
                facebook
            </li>
            <li>
                twitter
            </li>
            <li>
                instagram
            </li>
        </ul>
        <ul class="info contact">
            <li>
                <input type="email" placeholder="Email">
            </li>
            <li>
                <textarea placeholder="My message"></textarea>
            </li>
            <li class="send">
                <span>Send</span>
            </li>
        </ul>
    </div>
</footer>