<footer class="footer-container">
    <div class="footer-content">
        <ul class="logo">
            <li>
                <h2>City Farmers</h2>
            </li>
        </ul>
        <ul class="info">
            <li>
                home
            </li>
            <li>
                farmers
            </li>
            <li>
                farms
            </li>
            <li>
                contact
            </li>
        </ul>
        <ul class="info">
            <li>
                facebook
            </li>
            <li>
                twitter
            </li>
            <li>
                instagram
            </li>
        </ul>
        <ul class="info">
            <li>
                <input type="email" placeholder="Email">
            </li>
            <li>
                <textarea placeholder="My message"></textarea>
            </li>
            <li>
                <span>Send</span>
            </li>
        </ul>
    </div>
</footer>