.menu-container { padding: 20px 100px; }
.menu-container .menu-content { display: inline-block; width: 100%; }
.menu-container .menu-content h2 a { font-family: 'Josefin Slab', serif; color: #929265; font-weight: bold; }
.menu-container .menu-content .menu a { color: #929265; }
.menu-container .menu-content h2 { font-size: 28px; margin: 0px; color: #929265; font-family: 'Josefin Slab', serif; float: left; padding: 0px 30px 0px 0px; line-height: 60px; }
.menu-container .menu-content .farmer { margin: 0px; color: #e0e0c9; font-size: 12px; font-weight: normal; letter-spacing: 2px; float: left; }
.menu-container .menu-content .farmer li { line-height: 60px; float: left; color: #929265; padding: 0px 15px 0px 0px; }
.menu-container .menu-content .farmer .farmer-img img { position: relative; top: 10px; width: 42px; border-radius: 50%; }
.menu-container .menu-content .menu { margin: 0px; color: #e0e0c9; font-size: 12px; font-weight: normal; letter-spacing: 1px; float: right; }
.menu-container .menu-content .menu li { line-height: 60px; float: left; color: #929265; padding: 0px 38px 0px 0px; cursor:pointer; font-size: 14px; }
