<home-nav-app></home-nav-app>
<div>
    <div class="home-container">
        <div class="home-content">
            <div class="content">
                <h1>Welcome to the first decentralized vertical farming organization in the world.</h1>
        
                <p>
                    City Farmers started as a local small organization in Spain, Madrid. Our goal, is to build vertical farms in cities all over the world.
                </p>
                <p>
                    With the boom of cryptocurrencies and crowdfunding we decided to take this project to the next level.
                </p>
                <p>
                    The food production problems related with water consumption in our country, the polution in our cities and the contamination of our land and water was the signal
                    to understand that the future of the food industry was going to change.
                </p>
            </div>
            <div class="content">
                <h2>Why vertical farming?</h2>
                <p>Vertical farming has becomed a very popular trend during the last years in order to solve our food production problems all over the world.</p>
                <p>
                    This technology allow us to provide food over populated cities using less land and less water. We use less fossil fuels and we fight against green house gases by reducing transportation over long distances.
                </p>
                <p>
                    Aeroponic technology use 70% less water than hydroponics, and 95% less water than a regular field farm.
                    Chlorophyl respond to two narrow bands on the blue and red electromagnetic spectrum. So we use LED lights in order to save energy and reduce the heat during the growing process.
                    <br/>
                    We are able to grow food during all the year in different seasons with less impact in the environment.
                </p>
                <p>
                    Forget about pesticide or herbicides. We provide ultra-fresh organic food with incredible quality and taste. You can really feel the difference, they are almost alive when you eat them.
                </p>
                <p>
                    City Farmers sell to local super markets and restaurants and we really believe is the new way to feed our planet.
                </p>
                <a routerLink="/login">LOGIN</a>
            </div>
        </div>
        <div class="donation-content">
            <div class="content">
                <h2>Want to become a<br/>City Farmer?</h2>
                <p>
                    Invest in our organization and become a City Farmer. Be part of the first decentralized vertical farm in the world.
                </p>
                <p>
                    Get the proportional company shares of your investment and make direct decision about the future of the organization.
                </p>
                <a href="/contract-and-conditions">Contract and conditions</a>
                <ul>
                    <li><label>Wallet Address</label></li>
                    <li><input type="text"></li>
                    <li><label>Amount</label></li>
                    <li><input type="number"></li>
                    <li><span class="become-a-farmer">Become a City Farmer!</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer-app></footer-app>