<home-nav-app></home-nav-app>

    <div class="slider-container">
        <div class="slider-content">
            <div class="slider-info">
                <div class="info">
                    <h1>The first decentralized<br/>vertical farming organization<br/>in the world</h1>
                    <h3>Create your own farm in our vertical farm warehouse.<br/>Watch your farm and your investment grow from your smartphone since the first day.<br/>Collect, send or sell your product once is harvested.<br/><span class="become-farmer">Create your farm</span></h3>
                </div>
            </div>
            <div class="slider-img">
                as
            </div>
        </div>
    </div>

    <div class="how-it-works">
        <div class="content">
           <h1>How it works</h1>
           
           <div class="box">
               <div class="info">
                    <h2><span>1</span> Become a City Farmer</h2>
                    <p> Create your account to get access to all the available crops. Get in touch with the farmers of the community and take a look on their farms and different investments.</p>
                    <div class="img">
                        <img src="/assets/img/farmer-icon.jpg"/>
                    </div>
                </div>
            </div>

            <div class="box">
               <div class="info">
                    <div class="img">
                        <img src="/assets/img/invest.png"/>
                    </div>
                    <h2><span>2</span> Create your farm</h2>
                    <p>Invest on a farm for yourself or share a farm with other farmers. The minimum investment is the 1% of the cost of the farm.</p>
                </div>
            </div>

            <div class="box last">
               <div class="info">
                    <h2><span>3</span> Monetize your farm</h2>
                    <p>Once we harvest, we will distribute the production of the crop in proportional parts to the investment of each farmer. You can collect, send or sell your part as you wish.</p>
                    <div class="img">
                        <img src="/assets/img/monetize-2.png"/>
                    </div>
                </div>
            </div>

            <div class="read-more">
                <a routerLink="/how-it-works">Know more</a>
            </div>

        </div>
    </div>

    <div class="home-container">
        <div class="invest-content">
           <h1>Why invest on City Farmers?</h1>
           
           <div class="invest-box">
               <div class="investment">
                    <h2>Invest what you want<br/>or what you can</h2>
                    <div class="invest-info">
                        <p>You can have your own farm or share a farm with other farmers. We are completely flexible on the amount our farmers can invest.<br/>Become a City Farmer with just 10$!</p>
                    </div>
                    <div class="invest-img">
                        <img src="/assets/img/deal.png"/>    
                    </div>
                </div>
            </div>

            <div class="invest-box">
                <div class="investment">
                    <h2>Your farm grow,<br/>your investment too</h2>
                    <div class="invest-info">
                        <p>Monetize your farm by selling your products to local supermarkets, restaurants or people.</p>
                    </div>
                    <div class="invest-img">
                        <img src="/assets/img/monetize.png"/>    
                    </div>
                </div>
            </div>

            <div class="invest-box">
                <div class="investment">
                    <h2>You are the owner<br/>of your farm</h2>
                    <div class="invest-info">
                        <p>You decide what you grow and what you do with your product. You can sell it, take it for personal use, change it for other City Farmers products or donate it.</p>
                    </div>
                    <div class="invest-img">
                        <img src="/assets/img/owner.png"/>    
                    </div>
                </div>
            </div>

            <div class="invest-box">
                <div class="investment">
                    <h2>Good for you<br/>and good for the world</h2>
                    <div class="invest-info">
                        <p>Our business model help us to fight against green house gases by reducing the polution and contamination of our land and water.</p>
                    </div>
                    <div class="invest-img">
                        <img src="/assets/img/world.png"/>    
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="app-container">
        <div class="app-content">
            <div class="app-info">
                <div class="info">
                    <h1>Control your farm<br/>from anywhere.</h1>
                    <p>The latest technology in your hands.<br/> Our platform allows you to follow the evolution of your farm on real time.</p>
                </div>
            </div>
            <div class="app-img">
                <img src="/assets/img/app.png"/>
            </div>
        </div>
    </div>

<footer-app></footer-app>