<socket></socket>
<header></header>
<div class="loader-container" [ngClass]="{'active': loaderStatus }">
    <div class="loader">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
</div>
<div class="farms-container">
    <div class="farm" *ngFor="let farm of farms">
        <img src="/assets/img/{{farm.img}}" class="fruit"/>
        <h2>{{ farm.name }} <span> <img src="/assets/img/seeds.png"/> {{ farm.created | date: "dd/MM/yy" }}</span></h2>
        <ul>
            <li>
                <img src="/assets/img/farmer.png"/> {{ farm.farmer.length }}
            </li>
            <li>
                <img src="/assets/img/weight.png"/> {{ farm.avgWeight }} kg
            </li>
            <li>
                <img src="/assets/img/harvest.png"/> {{ farm.harvest }} days
            </li>
        </ul>
    </div>
</div>