<home-nav-app></home-nav-app>
<div class="loader-container" [ngClass]="{'active': loaderStatus }">
    <div class="loader">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
</div>
<div class="farms-container">
    <h1>Farms</h1>
    <a [routerLink]="['/farms', farm._id]" *ngFor="let farm of farms">
        <div class="farm-container" >
            <div class="farm">
                <img src="/assets/img/{{farm.img}}" class="fruit"/>
                <h2>{{ farm.name }} <span> <img src="/assets/img/seeds.png"/> {{ farm.created | date: "dd/MM/yy" }}</span></h2>
                <ul>
                    <li>
                        <i class="fa fa-users" aria-hidden="true"></i> {{ farm.farmer.length }}
                    </li>
                    <li>
                        <img src="/assets/img/weight.png"/> {{ farm.avgWeight }} kg
                    </li>
                    <li>
                        <i class="fa fa-calendar" aria-hidden="true"></i> {{ farm.harvest }} days
                    </li>
                </ul>
                <!--
                <ul class="process">
                    <li>
                        Status: On Process
                    </li>
                </ul>-->
            </div>
        </div>
    </a>
</div>
<footer-app></footer-app>