.login-container { display: table; width: 100%; height: 100vh; background-image: url('/assets/img/wood-texture.jpg'); }
.login-container .login-cell { display: table-cell; vertical-align: middle;  }
.login-container .login-cell div { width: 220px; margin: 0 auto; } 
.login-container .login-cell .welcome h2 { margin: 0px 0px 5px 0px; }
.login-container .login-cell .welcome h1 { margin: 0px 0px 0px 0px; }

.login-container .login-cell .form li .log-in { display: inline-block; background-color: #929265; color: #e8dfcc; padding: 8px 14px; border-radius: 3px; font-size: 12px; float: right; margin: 15px 0px; cursor: pointer; }
.login-container .login-cell .form label { font-size: 12px; padding: 0px 10px; position: relative; top: 26px; transition: 1s; color: #797979; }
.login-container .login-cell .form label.active { font-size: 10px; top:0px; }
.login-container .login-cell .form input { border: 0px; border-radius: 5px; line-height: 36px; width: 200px; padding: 0px 10px;}
.login-container .login-cell .form input:focus { outline: -webkit-focus-ring-color auto 0px; }
.login-container .login-cell .form .error { color: #da0000; display: inline-block; line-height: 60px; font-size: 12px; margin: 0px 30px; float: right; font-weight: bold; }