<home-nav-app></home-nav-app>
<div class="loader-container" [ngClass]="{'active': loaderStatus }">
    <div class="loader">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
</div>
<div class="how-it-works-container">
    <h1>How it works</h1>
    <div class="content">
        <h2>Create your account</h2>
        <p>Get access to all the stats and information of the different available crops.</p>
        <p>Get in touch with the farmers of the community and take a look on their farms and different investments.</p>
    </div>
    <div class="content">
        <h2>Invest</h2>
        <p>
            En City Farmers disponemos de una selección de cultivos optimizados para el cultivo en granjas verticales, debido a que no resulta rentable la producción de cualquier tipo de cultivo mediante el uso de esta tecnología.
        </p>
        <ul>
            <li>En cada uno de estos cultivos viene especificado:</li>
            <li>El tiempo en días desde el comienzo del cultivo hasta su cosecha.</li>
            <li>El rendimiento medio en Kg por granja.</li>
            <li>El precio de venta por Kg.</li>
            <li>El número de granjeros involucrados en el cultivo.</li>
            <li>El coste total de la granja.</li>
        </ul>
    </div>
    <div class="content">
        <h2>Monetize</h2>
        <p>Una vez hemos cosechado la granja, repartimos la cosecha en partes proporcionales a la inversión de cada granjero.</p>
        <p>Cada granjero es libre de hacer con su parte lo que quiera. Puede venderlo a través de los distribuidores de City Farmers, quedársela para uso personal o destinar una parte para la venta y otra para uso personal.</p>
        <p>En caso de venta, City Farmers ingresará directamente el importe correspondiente en la cuenta del granjero una vez se haya vendido toda la producción.</p>
        <p>En caso de quedárselo para uso personal, el granjero deberá hacerse cargo de los gastos de envío del producto o venir a recogerlo.</p>
    </div>
</div>
<footer-app></footer-app>